body {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 300px;
    font-family: futura;
    font-size: 14px;
    line-height: 30px;
    color: red;
    font-weight: bold;
    font-style: normal;
    position: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  h1 {
    font-family: futura;
    font-size: 40px;
    color: black;
  }

  p {
    font-family: avenir;
    font-size: 13px;
    color: black;
    line-height: 20px;
  }


.image {
  width: 100%;
  height: auto;
  padding: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 30;
  left: 20;
  right: 30;
  height: 89.2%;
  width: 17.4%;
  opacity: 0;
  transition: .1s ease;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
